.verticalTop {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    margin-right: 50px;
    height: 50vh;
  }
  
  .verticalBottom {
    height: 44vh;
  }
  
  .temperature {
    margin-bottom: -50px;
    padding-left: 30px;
    font-size: 80px;
  }